# Notebook di Preparazione
Ho a disposizione un dataset "appointment_data.csv". Creo e scrivo su disco due file csv:"train.csv" e "test.csv". Tali file verranno usati per l'addestramento del classificatore del secondo notebook.
Utilizzo per lo split in dati di train e dati di test il modulo train_test_split della libreria sklearn.

In [1]:
import pandas as pd #libreria usata per importare i dati e salvarli su disco
from sklearn.model_selection import train_test_split #per dividere il dataset in dati di train e di test

In [2]:
dataset = pd.read_csv('appointment_data.csv') #importo i dati

In [3]:
dataset.shape #vedo quante righe e quante colonne contiene il dataset

(88421, 14)

In [4]:
dataset.columns #mostro le colonne del dataset

Index(['No-show', 'PatientId', 'AppointmentID', 'Gender', 'ScheduledDay',
       'AppointmentDay', 'Age', 'Neighbourhood', 'Scholarship', 'Hipertension',
       'Diabetes', 'Alcoholism', 'Handcap', 'SMS_received'],
      dtype='object')

In [5]:
dataset.head() #visualizzo le prime 5 righe del dataset

,No-show,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,No,1.328492e+12,5687610,F,2016-05-11T16:00:16Z,2016-05-19T00:00:00Z,25,MATA DA PRAIA,0,0,0,0,0,0
1,No,3.881869e+14,5694484,M,2016-05-13T08:41:27Z,2016-05-17T00:00:00Z,62,FRADINHOS,0,0,0,0,0,0
2,Yes,9.118992e+12,5500939,F,2016-03-22T11:09:38Z,2016-05-09T00:00:00Z,65,JARDIM CAMBURI,0,0,0,0,0,0
3,No,1.843618e+14,5639080,M,2016-04-29T08:42:15Z,2016-04-29T00:00:00Z,41,MARIA ORTIZ,0,0,0,0,0,0
4,No,5.783198e+13,5671566,M,2016-05-06T18:47:52Z,2016-05-09T00:00:00Z,61,MARUÍPE,0,1,0,1,0,0

In [6]:
#definisco la X, tutte le caratteristiche del paziente e la variabile target y che è No-show
y = dataset['No-show']
X = dataset.drop(columns=['No-show'])

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, test_size=0.2,random_state=0) #qui effettuo lo split in dati di train e dati di test

Scelgo test_size=0.20 quindi il train set rappresenta l'80% dei dati e il test set il 20%

In [8]:
train = pd.concat([X_train,y_train], axis=1) #definisco il dataset di train

In [9]:
test = pd.concat([X_test,y_test], axis=1) #definisco il dataset di test

In [10]:
#ora salvo questi dati su un file csv 
train.to_csv('train.csv',index=False)

In [11]:
#ora salvo questi dati su un file csv 
test.to_csv('test.csv',index=False)

In [12]:
train.head() #visualizzo le prime 5 righe del dataset di train

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
57020,1.476612e+11,5679466,F,2016-05-10T09:57:55Z,2016-05-17T00:00:00Z,44,CARATOÍRA,0,0,0,0,0,0,Yes
67404,5.163147e+14,5571658,F,2016-04-12T09:24:13Z,2016-05-16T00:00:00Z,11,MARIA ORTIZ,0,0,0,0,0,0,Yes
42628,2.488843e+12,5690749,F,2016-05-12T10:35:23Z,2016-05-16T00:00:00Z,46,JARDIM CAMBURI,0,0,0,0,0,0,No
11918,9.618864e+14,5511964,F,2016-03-28T08:24:33Z,2016-05-06T00:00:00Z,75,JESUS DE NAZARETH,0,1,1,0,0,1,Yes
30082,4.836462e+11,5750314,F,2016-05-31T08:44:06Z,2016-06-01T00:00:00Z,83,SANTA MARTHA,0,1,1,0,0,0,No

In [13]:
train.columns #mostro le colonne

Index(['PatientId', 'AppointmentID', 'Gender', 'ScheduledDay',
       'AppointmentDay', 'Age', 'Neighbourhood', 'Scholarship', 'Hipertension',
       'Diabetes', 'Alcoholism', 'Handcap', 'SMS_received', 'No-show'],
      dtype='object')

In [14]:
test.head() #visualizzo le prime 5 righe del dataset di test

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
43077,1.167239e+11,5778236,M,2016-06-06T15:14:21Z,2016-06-08T00:00:00Z,9,INHANGUETÁ,0,0,0,0,0,0,No
44486,2.375498e+13,5739813,M,2016-05-25T14:10:29Z,2016-05-30T00:00:00Z,50,ANDORINHAS,0,0,1,0,0,1,No
25328,9.435712e+10,5683899,F,2016-05-11T08:00:20Z,2016-05-11T00:00:00Z,69,JARDIM CAMBURI,0,0,0,0,0,0,No
31341,8.277442e+13,5688382,F,2016-05-12T07:19:39Z,2016-05-16T00:00:00Z,22,FORTE SÃO JOÃO,0,0,0,0,0,0,No
19054,1.812426e+14,5707554,F,2016-05-17T09:47:04Z,2016-05-17T00:00:00Z,1,REDENÇÃO,0,0,0,0,0,0,No

In [15]:
test.columns #mostro le colonne

Index(['PatientId', 'AppointmentID', 'Gender', 'ScheduledDay',
       'AppointmentDay', 'Age', 'Neighbourhood', 'Scholarship', 'Hipertension',
       'Diabetes', 'Alcoholism', 'Handcap', 'SMS_received', 'No-show'],
      dtype='object')